@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Safe Area for iPhone X+ */
.safe-area-pb {
    padding-bottom: env(safe-area-inset-bottom);
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* Turbo Progress Bar Styles - Bikin Kelihatan Cepat & Glowing */
.turbo-progress-bar {
    height: 4px;
    background: #e32b2b; /* Telkom Red */
    box-shadow: 0 0 10px rgba(227, 43, 43, 0.8), 0 0 5px rgba(227, 43, 43, 0.5);
    z-index: 99999;
}


